<div class="jumbotron mt-4">
    <h1 class="text-center">NodeSQLAdmin</h1>
    <p class="lead">
        NodeSQLAdmin es un proyecto basado en NodeJS realizado por Luis Orozco Arévalo para proyecto final de FPGS
        Administración de Sistemas Informáticos en Red.
        El propósito de esta aplicación es poder gestionar los procesos, variables y usuarios de un sistema gestor de
        base de datos MySQL o MariaDB.
    </p>
    <hr>
    <h2 class="text-center">
        ¿Qué es NodeJS?
    </h2>

    <p class="lead">
        NodeJS es un entorno de tiempo de ejecución multiplataforma,
        de código abierto, para la capa del servidor basado en el lenguaje de programación <a
            href="https://es.wikipedia.org/wiki/ECMAScript">ECMAScript</a>.
    </p>
    <hr>
    <h2 class="text-center">¿Por qué NodeJS y no otro sistema?</h2>
    <p class="lead">
        NodeJS ofrece ciertas ventajas al manejar datos, además de su biblioteca de módulos que podemos instalar con npm. Por ejemplo, con Django (Python) no se podría acceder
        a la totalidad de la base de datos ya que este solo usa los modelos declarados por nosotros. Sin embargo, NodeJS si nos permite acceder a la totalidad de la base de datos
        y crear bases de datos y usuarios.
    </p>
    <hr>
    <a href="/" class="btn btn-primary">Volver al índice</a>
</div>