<div>
    <!-- {{user}} es la variable que enviamos mediante el render -->
    <h1>Bienvenido {{user.username}}</h1>

    <h2>Servidor de base de datos</h2>
    <ul>
        <!-- Podemos usar bucles con handlebars. En este caso, estamos obteniendo el nombre de la variable junto con su valor -->
        {{#each version}}
        <li>
            {{Variable_name}}: {{Value}}
        </li>
        {{/each}}
    </ul>

</div>
<div>
    <h2>NodeSQLAdmin</h2>
    <ul>
        <li>
            Version: 0.0.1
        </li>
        <li>
            <a href="/about">Acerda de NodeSQLAdmin</a>
        </li>
    </ul>
</div>